<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>AutoMID | {% block title %}{% endblock %}</title>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AutoMID</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- If the user is not authenticated, only help will be shown. -->
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/view_help" title="Help">Help</a>
                        </li>
                    {% endif %}
                    <!-- If the user is authenticated, this is shown. -->
                    {% if current_user.is_authenticated %}
                        <!-- If the user is a radiologist, these links will be shown. -->
                        {% if current_user.user_type=='Radiologist' %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/select_dataset_to_predict" title="Diagnose">Diagnose</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_model_statistics" title="View Model Statistics">View
                                    Model Statistics</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/select_dataset_to_train" title="Create New Model">New
                                    Model</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/upload_model" title="Upload New Model">Upload New Model</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_leaderboard" title="View Leaderboard">View
                                    Leaderboard</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_help" title="Help">Help</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/logout" title="Logout">Logout</a>
                            </li>
                        {% endif %}
                        <!-- If the user is a clinician, these links will be shown. -->
                        {% if current_user.user_type=='Clinician' %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/select_dataset_to_predict" title="Diagnose">Diagnose</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_model_statistics" title="View Model Statistics">View
                                    Model Statistics</a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" href="/view_leaderboard" title="View Leaderboard">View
                                    Leaderboard</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_help" title="Help">Help</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/logout" title="Logout">Logout</a>
                            </li>
                        {% endif %}
                        <!-- If the user is part of the AI Community, these links will be shown. -->
                        {% if current_user.user_type=='AI Community' %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/upload_model" title="Upload New Model">Upload New Model</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_leaderboard" title="View Leaderboard">View
                                    Leaderboard</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/view_help" title="Help">Help</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/logout" title="Logout">Logout</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</head>
<body>

<br><br>

<div class="container" style="max-width: 90%">
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- All the other views will be displayed here. -->
            {% block body %}{% endblock body %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>