{% extends "layout_main.html" %}

{% block title %}Login Page{% endblock %}

{% block body %}
    <!-- If there are any error messages, they will be displayed here. -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <!-- The following form is used to login. -->
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        <fieldset>
            <div>
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
                <br>
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
                <br>
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
                <br>
            </div>
        </fieldset>
        <br>
        <div class="form-group">
            {{ form.next(class="btn btn-primary") }}
        </div>
    </form>


{% endblock %}