{% extends "layout_main.html" %}

{% block title %}Signup Page{% endblock %}

{% block body %}
    <!-- If there are any error messages, they will be displayed here. -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}. Please go back to the <a href="{{ url_for('login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}
    <!-- The following form is used to signup/register. -->
    <form method="POST" action="/signup">
        {{ form.csrf_token }}
        <fieldset>
            <div>
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
                <br>
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
                <br>
                {{ form.user_type.label(class="form-control-label") }}
                <br>
                {% for subfield in form.user_type %}
                    <tr>
                        <td>{{ subfield(class="form-check-input") }}</td>
                        <td>{{ subfield.label }}</td>
                        <br>
                    </tr>
                {% endfor %}
                <br>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.next(class="btn btn-primary") }}
        </div>
    </form>


{% endblock %}